<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>User.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibFacultyLogin</servlet-name>
        <servlet-class>LibFaculty.LibFacultyLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>LibFaculty.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>LibFaculty.AddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueBook</servlet-name>
        <servlet-class>LibFaculty.IssueBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnBook</servlet-name>
        <servlet-class>LibFaculty.ReturnBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchById</servlet-name>
        <servlet-class>LibFaculty.SearchById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayFine</servlet-name>
        <servlet-class>LibFaculty.PayFine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibFacultyLogin</servlet-name>
        <url-pattern>/LibFacultyLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueBook</servlet-name>
        <url-pattern>/IssueBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnBook</servlet-name>
        <url-pattern>/ReturnBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchById</servlet-name>
        <url-pattern>/SearchById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayFine</servlet-name>
        <url-pattern>/PayFine</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
